section#ksum-footer.section-content
  .container
    .row
      .col-sm-4.left-col
        img.img-fluid(src="./img/logo-white.svg" alt="ksum logo")
        .address
          p G3B, Thejaswini, Technopark Campus, Kariyavattom, Trivandrum, Kerala 695581
        .phone 
          div 
            i.fa.fa-phone
            | 08033948999
          p ( Timings: 08.00 am to 08.00 pm )
        .social
          a(href="https://www.facebook.com/keralastartupmission" target="_blank" rel="noopener" aria-label="fb link")
            i.fa.fa-facebook
          a(href="https://twitter.com/startup_mission" target="_blank" rel="noopener" aria-label="twitter link")
            i.fa.fa-twitter
          a(href="https://in.linkedin.com/company/kerala-startup-mission" target="_blank" rel="noopener" aria-label="linkedin link")
            i.fa.fa-linkedin
          a(href="https://www.pinterest.com/pin/796996465276301175/" target="_blank" rel="noopener" aria-label="pintrest link")
            i.fa.fa-pinterest
          a(href="https://www.youtube.com/results?search_query=kerala+startup+mission" target="_blank" rel="noopener" aria-label="youtube link")
            i.fa.fa-youtube-play
      .col-sm-3.mt-5.text-white.text-center
        b.m-0 Point of Contact
        p.m-0 Jith Thomas
        p.m-0 Email: jith@startupmission.in
        p.m-0 Mobile: 9986017440
      .col-sm-5.right-col
        img.img-fluid(src="./img/ccrc.png" alt="ccrc logo")
        .address
          p (An autonomous institute under Govt.of Kerala)
        .phone
          div 
            i.fa.fa-phone
            | 0484-241-1700
          p Govt. Medical College Campus, HMT Road, Kalamassery,Ernakulam – 683503
        
        

section#ksum-copy
  p Copyright © 2019 Kerala Startup Mission. All Rights Reserved.