nav.site-navigation
  

  .hamburger-menu.d-lg-none
    span
    span
    span
    span
  ul
    li
      a(data-scroll, href='index.pug#slider-section') Home
    li
      a(data-scroll, href='index.pug#about-section') About
    li
      a(data-scroll, href='index.pug#speaker-section') Key People
    li
      a(data-scroll, href='index.pug#events') Events
    li
      a(data-scroll, href='index.pug#ksum-footer') Partners
    li
      a(data-scroll, target="_blank", href='https://www.townscript.com/e/canquer-3rd-annual-symposium-044030') Apply
    