section#footer-menu
  a(href="app.pug")
    i.fa.fa-home
    span Home
  a(href="schedule.pug")
    i.fa.fa-calendar
    span Schedule
  //- img.logo(src="./img/ksum-logo.png")
  //- a(href="speakers.pug")
  //-   i.fa.fa-users
  //-   span Speakers
  a(href="/summary.pug")
    i.fa.fa-book
    span Summary
  a(href="meetup.pug")
    i.fa.fa-rocket
    span Meetup
  a(href="poll.pug")
    i.fa.fa-microphone
    span Ask
  a(href="location.pug")
    i.fa.fa-location-arrow
    span Location
  