@import "./mixins";
#slider-section{
  min-height: 100vh;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../img/hero-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  @include my_bp(sm){
    background-image: url('../img/slider1.jpg');
  }

  // &::before{
  //   background-color: rgba(14, 8, 31, .8);
  //   content: " ";
  //   width: 100%;
  //   height: 100vh;
  //   position: absolute;
  //   left: 0;
  //   top:0;
  // }
  #info-container{
    position: absolute;
    color: #af2d70;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;


    h1{
      font-size: 30px;

      @include my_bp(sm){
        font-size: 50px;
      }
    }

    h2{
      font-size: 60px;

      @include my_bp(sm){
        font-size: 80px;
      }
    }

    .button{
      display: block;
      width: 150px;
      padding: 10px 20px;
      text-align: center;
      border-radius: 50px;
      border: 1px #af2d70 solid;
      color: #af2d70;
      transition: all .3s ease-in;
      margin: 0 auto;
  
      &:hover{
        text-decoration: none;
        background: #af2d70;
        color: white;
      }
    }

    .svg_logo{
      max-width: 100%;
      height: 200px;

      @include my_bp(sm){
        height: 400px;
      }

      .shake-q{
        transform-origin: bottom center;
        transition: all .6s cubic-bezier(.68,-.55,.265,1.55);
        animation: 5s infinite ease-in-out shake;
      }

      @keyframes shake {
        0% {transform: rotateZ(0deg)}
        10% {transform: rotateZ(4deg);}
        30% {transform: rotateZ(-4deg);}
        50% {transform: rotateZ(0deg);}
        100% {transform: rotateZ(0deg);}
      }
    }


  }

  img.slide{
    height: 100vh;
    width: auto;

    @include my_bp(sm){
      height: auto;
      width: 100vw;
    }
  }
}

#about-section{
  // background: url('../img/bg3.jpg') no-repeat;
  background: linear-gradient(39deg, rgba(175,45,112,1) 0%, rgba(213,80,145,0.8757878151260504) 100%);
  background-size: cover;
  color: white;
  text-align: justify;

  h1{
    color: white;
  }

  ul{
    margin: 0.75em 0;
    padding: 0 1em;
    list-style: none;

    li{
      position: relative;

      &:before { 
        content: "";
        border-color: transparent white;
        border-style: solid;
        border-width: 0.35em 0 0.35em 0.45em;
        display: block;
        height: 0;
        width: 0;
        left: -1em;
        top: 5px;
        position: absolute;
      }
    }
  }
  
}

#features{
  .feature{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    width: 90%;
    margin: 0 auto;

    .cell{
      flex: 0 0 90%;
      display: flex;
      justify-content: center;
      align-items: stretch;
      padding: .5rem;
      box-sizing: border-box;
      transition: all .5s ease;
      cursor: pointer;

      &:hover{
        padding: 0;
      }

      @include my_bp(sm){
        flex: 0 0 25%;
      }

      &:before{
        content: '';
        display: table;
        padding-top: 100%;
      }

      &:nth-of-type(1){
        .item{
          background: #6ebf45;
        }
      }

      &:nth-of-type(2){
        .item{
          background: #D27FDF;
        }
      }

      &:nth-of-type(3){
        .item{
          background: #F3827F;
        }
      }

      &:nth-of-type(4){
        .item{
          background: #FFBC57;
        }
      }

      .item{
        flex-grow: 1;
        background: rgba(213,80,145,1);
        // background: linear-gradient(230deg, rgba(255,138,185,1) 0%, rgba(213,80,145,1) 100%);
        color: white;
        
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        padding: 10px;

        img{
          width: 160px;
          border-radius: 50%;  
          padding: 0px;
          box-shadow: 1px 1px 5px #af2d70;      
          cursor: pointer;
          transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  
          &:hover{
            padding: 2px;
            transform: translateY(-5px);
          }
        }

        h5{
          font-family: 'Blinker', sans-serif;

          text-align: center;
        }

        h4{
          font-family: 'Blinker', sans-serif;
          color: white;
          text-align: center;
          font-size: 20px;
        }

        h3{
          color: white;
          font-size: 25px;
          text-align:center;
        }

        p{
          // font-family: 'Blinker', sans-serif;

          text-align: center;
          margin: 0;
          font-size: 16px;
        }

        a{
          color: white;

          &:hover{
            color: white;
          }
        }
      }
    }
  }
}

#events{
  .right{
    margin-top:50px;

    @include my_bp(sm){
      margin-top:0px;
    }
  }

  .button{
    display: block;
    width: 150px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 50px;
    border: 1px #af2d70 solid;
    color: #af2d70;
    transition: all .3s ease-in;
    margin: 0 auto;

    &:hover{
      text-decoration: none;
      background: #af2d70;
      color: white;
    }
  }
}

#agenda{
  .agenda{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    width: 90%;
    margin: 0 auto;

    .cell{
      flex: 0 0 80%;
      display: flex;
      justify-content: center;
      align-items: stretch;
      padding: .5rem;
      box-sizing: border-box;
      transition: all .5s ease;
      cursor: pointer;

      // &:hover{
      //   padding: 0;
      // }

      @include my_bp(sm){
        flex: 0 0 25%;
      }

      &:before{
        content: '';
        display: table;
        padding-top: 100%;
      }

      

      .item{
        flex-grow: 1;
        // background: #3813c2;
        background: linear-gradient(230deg, rgba(255,138,185,1) 0%, rgba(213,80,145,1) 100%);
        color: white;
        
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        padding: 10px;

        img{
          width: 160px;
          border-radius: 50%;  
          padding: 0px;
          box-shadow: 1px 1px 5px #af2d70;      
          cursor: pointer;
          transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  
          // &:hover{
          //   padding: 2px;
          //   transform: translateY(-5px);
          // }
        }

        h5{
          font-family: 'Blinker', sans-serif;

          text-align: center;
        }

        h4{
          font-family: 'Blinker', sans-serif;
          color: white;
          text-align: center;
          font-size: 20px;
        }

        p{
          font-family: 'Blinker', sans-serif;

          text-align: center;
          margin: 0;
          font-size: 14px;
        }

        a{
          color: white;

          &:hover{
            color: white;
          }
        }
      }
    }
  }
}


#speaker-section{

  .speaker-list{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;

    .speaker{
      width: 50%;
      margin-top: 30px;

      @include my_bp(sm){
        width: 25%;
      }

      &.small{
        @include my_bp(sm){
          width: 20%;
        }
      }


      img{
        width: 160px;
        border-radius: 50%;  
        padding: 10px;
        box-shadow: 1px 1px 5px #af2d70;      
        cursor: pointer;
        transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

        &:hover{
          padding: 2px;
          transform: translateY(-5px);
        }
      }

      .descp{
        padding-top: 10px;

        h4{
          font-size: 18px;
          font-family: 'Blinker', sans-serif;
          font-weight: bold;

        }

        h5{
          font-size: 14px;
          font-family: 'Blinker', sans-serif;
          margin:0;
        }
      }
    }
  }
}

#partners-section{

  #partners{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin: 0 auto;


    .partner-cover{
      width: 50%;
      padding:5px;
      cursor: pointer;
      position: relative;
      display: flex;

      @include my_bp(sm){
        width: 16%;
      }

      .partner-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin: 0px 0px 0px 0px;
        padding: 10px 5px 10px 5px;
        border-style: solid;
        border-width: 1px 1px 1px 1px;
        border-color: rgba(37,37,37,0.35);
        border-radius: 5px 5px 5px 5px;
        background-color: #ffffff;
        transition: all .3s ease-in-out;
        

        &:hover{
          border-color: rgba(37,37,37,0.5);
          box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.24);

          h3{
            color: #00aef0;
          }
        }


        .logo{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          img{
            width: 100%;

          }
        }

        h3{
          font-family: 'Blinker', sans-serif;
          font-size: 20px;
          text-align:center;
          margin-top: 10px;
          transition: all .3s ease-in-out;

        }
      }
    }
  }
}

#location{
  line-height: 0;
  display: flex;
  flex-direction: column;

  @include my_bp(sm){
    flex-direction: row;
  }

  iframe{
    width: 100%;

    @include my_bp(sm){
      width: 50%;
    }
  }

  .sah_img{
    width: 100%;
    padding: 20px;
    text-align: center;

    @include my_bp(sm){
      width: 50%;
    }
  }
}