@import "./mixins";

$event-colors : ( #9EDF7D, #D27FDF, #FFFD67, #B7CDFF, #44F4C4, #F3827F, #FFBC57);
$menu-color : rgba(61,141,250,1);

// .site-navigation{
//   @include my_bp(sm){
//     background: $menu-color;
//   }
//   .hamburger-menu{
//     span{
//       background:$menu-color;
//     }
//   }
// }

.right_side{
  margin-top: 20px;

  h4{
    font-size: 16px;
    font-weight: bolder;
  }
  ul{
    list-style: none;
    padding-left: 10px;

    li{
      font-family: "Blinker", sans-serif;
      font-size: 14px;
    }
  }

  span{
    font-size: 12px;
    font-family: "Blinker", sans-serif;
    padding-left: 10px;

  }

  .category-list{
    ul {
      padding-left: 30px;

      li {
        margin-top: 5px;

        a:before{
          position: absolute;
          content: " ";
          width: 21px;
          height: 21px;
          border-radius: 50%;
          box-shadow: 1px 1px 3px rgba(0,0,0,.1);
          margin-left: -25px;
        }
      }
    }
  }

}

.filter{
  background: #CBCBCB;
  padding: 5px 10px;
  border-radius: 4px;
  margin-bottom: 25px;

  .close{
    position: relative;
    display: inline-block;
    left: 10px;
    border: 1px solid #000;
    width: 20px;
    height: 20px;
    line-height: 14px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
  }
}

.schedule{
  display: block;

  @include my_bp(sm){
    display: inline-block;
  }

  &.open{
    .schedule-item{
      display: block;
    }

    .title{
      border: none;
      text-align: left;
    }
  }

  &:not(:first-of-type){
    margin-top: 40px;
  }

  h3{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 20px;

    &.title{
      margin-bottom: 0px;
      padding: 20px;
      border: 1px solid rgba(200,200,200,.5);
      margin-right: 20px;
      cursor: pointer;

      text-align: center;

      &:hover{
        box-shadow: 1px 2px 10px rgba(200,200,200,.4);
        transform: translateY(2px);
        background: #af2d70;
        color: white;
      }
    }
  }

  h4{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: bolder;
    margin-bottom: 0px;
    margin-top: 20px;
  }

  &.expanded{
    .schedule-item{
      border-bottom: 2px solid rgba(0,0,0,.1);
      padding: 15px 10px;
    }
  }

  &.venued{
    .schedule-item{

      @include my_bp(sm){
        margin-left: 160px;
      }

      .time{
        width: 100%;

        @include my_bp(sm){
          width: 140px;
          padding-top: 0;
        }
      }
    }
  }

  &.single{
    .schedule-item{
      margin-left: 0px;
      border-left: 0;
    }
  }
  

  .schedule-item{
    border-bottom: 2px solid rgba(0,0,0,.1);    
    padding: 10px 10px;
    font-family: 'Blinker', sans-serif;
    display: none;

    @include my_bp(sm){
      margin-left: 100px;
      border-left: 1px solid rgba(0,0,0,.1);
      border-bottom: 0;
    }

    .item{
      display: inline-block;
      padding: 5px 8px;
      box-shadow: 1px 1px 3px rgba(0,0,0,0.25);
      border-radius: 4px;
      margin-bottom: 10px;
      margin-right: 10px;
      a{
        color: #111;
      }
    }

    .time{
      margin-bottom: 10px;
      color: #333;

      @include my_bp(sm){
        position: absolute;
        left: 30px;
        padding-top: 5px;
      }
    }

    .description{
      border-bottom: 1px solid rgba(200,200,200,.25);
      
      p{
        font-family: 'Blinker', sans-serif;
        margin-bottom: 5px;
      }

      h4{
        font-size: 16px;
        font-weight: bolder;
      }
    }

    .speakers{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 10px 0px;
      border-bottom: 1px solid rgba(200,200,200,.25);
      margin-bottom: 10px;

      .speaker-item{
        display: flex;
        align-items:center;
        margin: 10px;
        width: 150px;
        flex-direction: column;

        img{
          width: 100px;
          border-radius: 50%;
          box-shadow: 2px 2px 0px $menu-color;
        }

        .descp{
          display: flex;
          flex-direction: column;
          align-items: center;

          h3{
            font-size: 14px;
            margin-top: 5px;
            margin-bottom: 5px;
            text-align: center;
          }
  
          h4{
            font-size: 12px;
            font-weight: normal;
            margin: 0;
            text-align: center;
          }
        }
        
      }
    }

    .details{
      padding-left: 20px;
      font-size: 14px;

      p{
        font-family: 'Blinker', sans-serif;
        font-size: 14px;
        margin:0;
      }

      .tag{

        a{
          padding-left: 25px;

          &:before{
            position: absolute;
            content: " ";
            width: 21px;
            height: 21px;
            border-radius: 50%;
            box-shadow: 1px 1px 3px rgba(0,0,0,.1);
            margin-left: -25px;
          }
        }
      }
    }

  }
  
}

@for $i from 1 through length($event-colors) {
  .ev_#{$i - 1}{
    .item{
      background: nth($event-colors, $i);

      &:hover{
        background: lighten(nth($event-colors, $i), 5%);
      }
    }

    &.item{
      background: nth($event-colors, $i);

      &:hover{
        background: lighten(nth($event-colors, $i), 5%);
      }
    }

    .tag a:before{
      background: nth($event-colors, $i);
    }

    .tag a:hover:before{
      background: lighten(nth($event-colors, $i), 5%);
    }

    & a:before{
      background: nth($event-colors, $i);
    }

    & a:hover:before{
      background: lighten(nth($event-colors, $i), 5%);
    }
  }
}

#dropdownMenuButton{
  text-transform: capitalize;  
}