doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/app.scss")
  body

    a.buttonDownload(onclick="a('event', 'install', {'event_category': 'Install','event_label': 'PWA Install'});") Install

    #app-container
      section
        .container
          svg.svg_logo(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='800px' height='400px' viewBox='0 0 475 181' enable-background='new 0 0 475 181' xml:space='preserve')
            g
              path(fill-rule='evenodd' clip-rule='evenodd' fill='#07557B' d='M148.606,44.107c7.311-6.232,14.311-12.107,28.133-8.548\
              c6.427,2.066,10.17,7.356,10.583,13.567c1.015,15.299,1.066,30.661,1.516,46.323c-6.656,0-12.13,0-18.219,0\
              c0-3.119,0-6.091,0-9.064c0-7.842,0.012-15.684-0.011-23.526c-0.004-1.509,0.009-3.042-0.241-4.522\
              c-1.242-7.358-4.935-10.93-10.817-10.592c-5.984,0.344-10.678,5.614-10.762,12.453c-0.125,10.179-0.052,20.36-0.063,30.541\
              c-0.001,1.474,0,2.948,0,4.644c-6.021,0-11.596,0-17.524,0c0-19.703,0-39.301,0-59.279c5.632,0,11.307,0,17.406,0\
              C148.606,38.735,148.606,41.421,148.606,44.107')
              path(fill-rule='evenodd' clip-rule='evenodd' fill='#07557B' d='M350.852,95.404c-5.818,0-11.393,0-17.299,0\
              c-0.131-2.799-0.256-5.463-0.412-8.792c-1.096,0.99-1.815,1.509-2.372,2.167c-6.368,7.525-14.748,10.015-24.048,7.122\
              c-8.995-2.797-12.414-10.025-12.788-18.314c-0.619-13.706-0.168-27.46-0.168-41.527c5.904,0,11.574,0,17.726,0\
              c0,8.875,0,17.635,0,26.395c0.001,3.026-0.041,6.052,0.014,9.078c0.133,7.379,3.991,11.865,10.256,11.99\
              c6.337,0.127,11.432-4.985,11.538-12c0.152-10.038,0.044-20.079,0.046-30.118c0-1.645,0-3.291,0-5.307c5.855,0,11.523,0,17.508,0\
              C350.852,55.703,350.852,75.301,350.852,95.404z')
              path(fill-rule='evenodd' clip-rule='evenodd' fill='#07557B' d='M52.33,50.915c-13.695-4.677-21.773-3.528-26.981,3.47\
              c-4.281,5.752-4.464,16.176-0.389,22.229c4.788,7.113,11.681,8.07,27.351,3.596c0,4.058,0.107,7.994-0.088,11.913\
              c-0.041,0.813-1.057,1.988-1.88,2.287C38.697,98.627,19.507,99.06,9.68,85.636C2.047,75.209,2.008,63.732,6.583,52.348\
              c4.172-10.383,12.64-16.285,23.7-17.344c6.306-0.604,12.776,0.28,19.146,0.806c1.036,0.086,2.681,1.737,2.768,2.772\
              C52.526,42.518,52.33,46.499,52.33,50.915z')
              path(fill-rule='evenodd' clip-rule='evenodd' fill='#07557B' d='M471.522,50.866c-13.735-2.508-20.316,3.048-20.391,16.67\
              c-0.049,9.187-0.009,18.376-0.009,27.816c-6.039,0-11.613,0-17.511,0c0-19.739,0-39.451,0-59.396c5.736,0,11.309,0,17.473,0\
              c0,3.317,0,6.507,0,9.697c0.327,0.23,0.653,0.46,0.979,0.691c3.753-8.612,9.738-13.028,19.458-11.091\
              C471.522,40.354,471.522,45.473,471.522,50.866z')
              g.shake-q
                path(fill-rule='evenodd' clip-rule='evenodd' fill='#AD2D6D' d='M247.14,158.607c-6.623-8.065-13.072-15.742-19.229-23.646\
                c-0.731-0.939-0.276-3.299,0.322-4.704c8.097-19.048,16.688-37.894,24.372-57.105c4.989-12.473,8.724-25.506,8.742-39.132\
                c0.005-4.914-1.447-9.831-2.215-14.632c0.109,0.075,0.704,0.346,1.119,0.786c8.496,9.019,15.717,18.99,18.174,31.284\
                c1.056,5.278,0.152,11.187-0.897,16.608c-5.595,28.889-13.538,57.076-26.432,83.676c-0.838,1.729-1.753,3.421-2.667,5.111\
                C248.176,157.321,247.798,157.721,247.14,158.607z')
                path(fill-rule='evenodd' clip-rule='evenodd' fill='#AD2D6D' d='M326.891,177.143c-1.557-0.979-2.598-1.582-3.588-2.262\
                c-18.941-12.979-37.827-26.041-56.863-38.878c-3.015-2.033-3.465-3.758-2.125-7.028c2.649-6.465,4.793-13.139,7.174-19.715\
                c0.499-1.377,1.126-2.708,1.885-4.517c9.894,6.768,19.396,13.258,28.89,19.761c6.579,4.506,13.207,8.948,19.669,13.615\
                c1.251,0.904,2.513,2.668,2.63,4.126C325.479,153.597,326.116,164.972,326.891,177.143z')
                path(fill-rule='evenodd' clip-rule='evenodd' fill='#AD2D6D' d='M233.043,112.689c-24.544-17.197-42.366-48.175-33.795-69.114\
                c5.533,14.764,18.951,21.667,29.833,31.011c4.058,3.483,8.534,6.479,12.684,9.861c0.881,0.717,1.929,2.446,1.629,3.208\
                C240.102,96.027,236.557,104.301,233.043,112.689z')
                path(fill-rule='evenodd' clip-rule='evenodd' fill='#AD2D6D' d='M199.9,41.103c-2.271-5.355-3.455-9.718-1.408-14.872\
                c7.369-18.564,26.35-26.52,44.415-18.142c3.586,1.663,7.111,3.669,10.203,6.101c1.842,1.448,2.786,4.036,3.718,6.625\
                C233.562,16.088,214.009,20.368,199.9,41.103z')
              path(fill-rule='evenodd' clip-rule='evenodd' fill='#07557B' d='M421.353,62.528c0.214-23.991-19.389-32.574-37.257-26.636\
              c-15.231,5.063-20.729,18.426-19.861,33.379c0.628,10.826,4.657,20.012,15.136,24.588c11.39,4.974,23.063,3.904,34.524-0.254\
              c0.949-0.344,2.155-1.578,2.223-2.474c0.259-3.479,0.104-6.987,0.104-10.485c-3.711,1.135-6.78,2.37-9.969,2.966\
              c-3.209,0.603-6.548,0.874-9.812,0.762c-8.854-0.303-14.246-5.554-13.916-13.714c12.703,0,25.437,0,38.824,0\
              C421.35,67.455,421.331,64.991,421.353,62.528z M382.222,59.443c0.644-8.148,5.832-13.598,12.478-13.364\
              c6.587,0.232,10.037,4.747,9.863,13.364C396.925,59.443,389.583,59.443,382.222,59.443z')
              path(fill-rule='evenodd' clip-rule='evenodd' fill='#07557B' d='M114.774,54.422c-0.321-9.825-6.143-16.465-15.5-18.996\
              c-10.262-2.776-20.144-0.688-29.822,2.802c-0.985,0.355-2.088,1.873-2.181,2.935c-0.284,3.257-0.104,6.555-0.104,10.633\
              c2.009-0.918,3.18-1.69,4.463-2c5.423-1.306,10.828-2.948,16.339-3.539c4.094-0.439,7.863,1.385,9.593,5.7\
              c1.457,3.632,0.728,4.781-3.174,5.298c-1.903,0.252-3.842,0.364-5.699,0.814c-6.48,1.571-13.279,2.467-19.301,5.113\
              c-7.132,3.134-8.804,10.212-8.338,17.441c0.469,7.291,3.938,12.749,11.226,15.213c8.771,2.964,17.683,0.522,23.405-6.524\
              c0.553-0.682,0.705-1.687,1.043-2.541c0.394,0.357,0.788,0.714,1.182,1.071c0.177,2.529,0.355,5.06,0.529,7.538\
              c5.645,0,10.823,0,15.999,0c0.2-0.586,0.442-0.965,0.442-1.343C114.891,80.832,115.205,67.615,114.774,54.422z M85.313,84.439\
              c-4.084-0.235-7.08-2.689-7.603-6.228c-0.622-4.215,0.965-7.688,5.006-8.8c4.821-1.328,9.868-1.838,14.747-2.69\
              C100.353,76.472,94.287,84.956,85.313,84.439z')
          h4.text-center Clinical excellence meets technological possibilities
          p.text-justify Cancer patients have more reasons to be optimistic today than ever before, thanks to the continuous innovation and technological advances over the recent past. To harness this momentum, Cochin Cancer Research Centre and Kerala Startup Mission are convening CanQuer2019, a dynamic platform focused on the intersection of clinical excellence, research and technology.

      include parts/mobile-footer.pug
        

  script(src="./js/index.js")
  script(src="./js/app.js")
  script.
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
      });
    }