doctype html
html(lang='en')
  include parts/header.pug
  body
    include parts/menu.pug
    style.
      #problem p{
        text-align: justify;
      }
      .button {
        display: block;
        width: 150px;
        padding: 10px 20px;
        text-align: center;
        border-radius: 50px;
        border: 1px #af2d70 solid;
        color: #af2d70;
        transition: all 0.3s ease-in;
        margin: 0 auto;
      }
      .button:hover {
        text-decoration: none;
        background: #af2d70;
        color: white;
      }

    section
      img.ml-4.mt-4.w-25(src="./img/canquer.svg")

    section#problem.section-content
      .container
        .row
          .col-sm-12
            h1.mb-5 Hackathon
        .row
          .col-sm-12
            h3 Chief Mentor: 
            h4.m-0 Dr. Aju Mathew 
            p.m-0 Senior Consultant, Welcare Hospital, Kochi, & MOSC Medical College, Kolenchery, Kerala, India
            p Director, Kerala Cancer Care, Kochi (www.keralacancercare.com)
        .row
          .col-12
            h2.py-3 Problem statements

            h3 1. Search Engine Optimization for Health Information
            p Fake news is now considered a major global threat to public health and fake news abounds in cancer care. The major purveyor of fake news is click-bait websites. We need to control its influence. Can you help?

            h3 2. Enhancing Diagnostic Abilities using Digital Pathology
            p Pathology is the most vital component of a high-quality cancer care in initial stages of the care of a patient. Often, we need second opinion from centres other than the initial laboratory. Can we harness tech tools to make second opinion pathology services quicker and reliable?

            h3 3. Tools to Empower Women for Breast Cancer Early Diagnosis
            p Early diagnosis is crucial to increasing cure rates in breast cancer. An information-empowered individual will seek care earlier. Can we create tools to help women understand symptoms of breast cancer (not another mobile app)?

            h3 4. AI-tools for Precise and Comprehensive Collation of Big Data
            p Good cancer registry requires high quality cancer data collection. Precise retrieval of health data from pathology and hospital reports will help enhance quality of surveillance and research. Can we build AI-based tools such as Natural Language Processing software that can be installed in labs and hospitals that can precisely identify new cancer diagnosis, and avoid duplication of data?

            h3 5. Promising a Value-based Cancer Care
            p Patient Reported Outcomes (PRO) can enhance cancer care and provide value to patient and health system. Compliance to the Consultant’s advice can help in speedy recovery. Can you design a user-friendly PRO-measuring (PROM) tool?

            h3 6. Geographic Assessment of Cancer Incidence
            p Environmental toxins can cause cancer. It is imperative to monitor cancer incidence in communities. Can you develop a simplistic geotagging system to improve cancer surveillance in communities?

            h3 7. Exceptional Responder Cohort
            p Within most types of advanced cancers, there are occasional exceptional responders. Currently, there is no system for doctors to discuss such cases of unusually exceptional response. Can we build an online-tool that can capture exceptional responders through doctors, and also directly from patients or families?

            h3 8. Prospective Data Capture in Clinics
            p Data equals oil. It's the same in cancer as well. Multi-level Cancer incidence registration and comprehensive online registry platform could be a solution. Can you build a secure web (open source?) & mobile tool for doctors to collaborate and build prospective cohorts?

           

          a.button(href="https://forms.gle/hyQ6EzK5efpRy3Ss8" target="_blank") Apply Now

    include parts/footer.pug

    script(src="./js/index.js")
