doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/app.scss")
  body

    a.buttonDownload(onclick="a('event', 'install', {'event_category': 'Install','event_label': 'PWA Install'});") Install

    #app-container
      #location-section
        .table
          .tr.align-items-end
            .td.td-75
              h5 Integrated Startup Complex
            .td.td-25
              img.img-fluid(src="./img/ksum-logo.png")
          .tr.p-0
            .td.td-100
              p.pl-2 HMT Colony, North Kalamassery, Kalamassery, Ernakulam, Kerala 683503
          iframe(type='text/html' title="google maps" width='100%' height='200' frameborder="0" style="border:0" allowfullscreen src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15714.112156332161!2d76.3547144!3d10.0557486!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa45cc77b2251f08e!2sIntegrated%20Startup%20Complex!5e0!3m2!1sen!2sin!4v1572066187281!5m2!1sen!2sin")
          .tr
            .td.justify-content-start
              a.button(target="_blank" href="https://www.google.com/maps/dir//Kerala+Startup+Mission,+Kerala+Technology+Innovation+Zone,+Kinfra+Hi-Tech+Park,+HMT+Colony,+P.O,+Kalamassery,+Kochi,+Kerala+683503/@10.0548893,76.3536728,17.5z/data=!4m14!4m13!1m5!1m1!1s0x3b05bbb805bbcd47:0x15439fab5c5c81cb!2m2!1d76.9366376!2d8.5241391!1m5!1m1!1s0x3b080c04e2534d9f:0x57a3a39e6b6b4514!2m2!1d76.3541155!2d10.0556678!3e0")
                i.fa.fa-location-arrow
                | Directions
        
        .container.pt-3
          .row
            .col-6
              img.img-fluid(src="./img/ksum-logo.png")
              p.small.text-center.pt-1 G3B, Thejaswini, Technopark Campus, Kariyavattom, Trivandrum, Kerala 695581
            .col-6
              img.img-fluid(src="./img/ccrc_black.png")
              p.small.text-center.pt-1 Govt. Medical College Campus, HMT Road, Kalamassery,Ernakulam – 683503

      include parts/mobile-footer.pug
        

  script(src="./js/index.js")