doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/app.scss")
  body

    a.buttonDownload(onclick="a('event', 'install', {'event_category': 'Install','event_label': 'PWA Install'});") Install

    section.section-content
      .container
        .row
          .col-12
            h3.pb-3.text-center Startup Clinician Meetup
            ol.startups-clinic
              li Onward Assist	
                a(href="http://www.onwardhealth.ai/" target="_blank") 
                  i.fa.fa-external-link
                  | Visit
              li Irillic	
                a(href="http://www.irillic.com" target="_blank") 
                  i.fa.fa-external-link
                  | Visit
              li BAegis	
                a(href="https://www.b-aegis.com/" target="_blank") 
                  i.fa.fa-external-link
                  | Visit
              li Sascan Meditech Pvt Ltd	
                a(href="http://www.sascan.in" target="_blank") 
                  i.fa.fa-external-link
                  | Visit
              li Team Indian Institute of Science	
              li LuxMatra Innovations Pvt Ltd	
              li Team Narayana Health	
              li Team KLE, Belgaum
  
    include parts/mobile-footer.pug
        

  script(src="./js/index.js")