doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/app.scss")
  body

    a.buttonDownload(onclick="a('event', 'install', {'event_category': 'Install','event_label': 'PWA Install'});") Install

    #app-container
      iframe(type='text/html' width='100%' height='100%' src='//www.menti.com/' frameborder='0')

      include parts/mobile-footer.pug
        

  script(src="./js/index.js")