doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/app.scss")
  link(rel="stylesheet", href="./css/sched.scss")
  body

    a.buttonDownload(onclick="a('event', 'install', {'event_category': 'Install','event_label': 'PWA Install'});") Install

    #app-container
      section#schedule-section
        .container
          .row
            .col-sm-12
              h1.text-center Schedule
            .col-sm-12
              .schedule.expanded(v-for="(sched,it) in dates", :key=it, v-bind:class="{ open: active === it }")
                
                  h3.title(v-on:click="changeSched(it)") {{sched}}

                  .schedule-item(v-for="(item, index) in dated(sched)" :key="index" :class="item.class?item.class:''")
                    .time {{item.start}}
                    .item {{item.item}}

                    .speakers(v-if="item.speakers.length")
                      .speaker-item(v-for="spk in item.speakers.split(',')" v-if="speakers[spk-1]")
                        img(:src="speakers[spk-1].image.length?speakers[spk-1].image:'dp.jpg'" )
                        .descp
                          h3 {{speakers[spk-1].name}}
                          h4 {{speakers[spk-1].designation}}
                          h4 {{speakers[spk-1].company}}

                    .div(v-if="item.chairperson.length")
                      h4 Session Chairpersons
                      .speakers
                        .speaker-item(v-for="spk in item.chairperson.split(',')" v-if="speakers[spk-1]")
                          img(:src="speakers[spk-1].image.length?speakers[spk-1].image:'dp.jpg'" )
                          .descp
                            h3 {{speakers[spk-1].name}}
                            h4 {{speakers[spk-1].designation}}
                            h4 {{speakers[spk-1].company}}

                    .div(v-if="item.topic.length")
                      h4 Keynotes
                      .div.pl-3(v-for="topic in item.topic.split(',')")
                        h4 {{topics[topic-1].item}}
                        .speakers
                          .speaker-item(v-for="spk in topics[topic-1].speaker.split(',')" v-if="speakers[spk-1]")
                            img(:src="speakers[spk-1].image.length?speakers[spk-1].image:'dp.jpg'" )
                            .descp
                              h3 {{speakers[spk-1].name}}
                              h4 {{speakers[spk-1].designation}}
                              h4 {{speakers[spk-1].company}}

                    .div(v-if="item.moderator.length")
                      h4 Moderator
                      .speakers
                        .speaker-item(v-for="spk in item.moderator.split(',')" v-if="speakers[spk-1]")
                          img(:src="speakers[spk-1].image.length?speakers[spk-1].image:'dp.jpg'" )
                          .descp
                            h3 {{speakers[spk-1].name}}
                            h4 {{speakers[spk-1].designation}}
                            h4 {{speakers[spk-1].company}}

                    .div(v-if="item.panel.length")
                      h4 Panel Members
                      .speakers
                        .speaker-item(v-for="spk in item.panel.split(',')" v-if="speakers[spk-1]")
                          img(:src="speakers[spk-1].image.length?speakers[spk-1].image:'dp.jpg'" )
                          .descp
                            h3 {{speakers[spk-1].name}}
                            h4 {{speakers[spk-1].designation}}
                            h4 {{speakers[spk-1].company}}

                    .details
                      p {{item.date}} {{item.start}} - {{item.end}} 
                    //- .description(v-if="item.description")
                    //-   p {{item.description}}

      include parts/mobile-footer.pug
        
  script(src="./js/index.js")
  script(src="./js/sched.js")
