doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/app.scss")
  body

    a.buttonDownload(onclick="a('event', 'install', {'event_category': 'Install','event_label': 'PWA Install'});") Install

    section.section-content
      .container
        .row
          .col-12
            h5.text-center COCHIN CANCER RESEARCH CENTRE 
            h5.text-center Third annual symposium
            h5.text-center “TECHNOLOGY TO ELIMINATE CANCER CARE DISPARITY”
            h5.text-center Jointly hosted by CCRC and Kerala Startup mission, Govt of Kerala 
            h5.text-center Integrated Startup Complex, KINFRA Technology Park, Kalamassery, Kochi
            h5.text-center November 8 to 10, 2019

            h5.text-center Overall goal of the conference
            p.text-justify Cancer care is at the cusp of technologic revolution that has potential not only to improve disease outcome, but also offers opportunity to improve access to equitable and affordable quality cancer care to all irrespective of socio-economic status of an individual. This requires indigenization and appropriate adaption of the technology based on the local needs to harness its full potential.  
            p.text-justify Point-of-care diagnostic technology with artificial intelligence has the potential to adopt advanced diagnostic assays for real-time diagnosis in the community, which can down-stage cancer at diagnosis. Genomic technology, which was a concept at the turn of the century is now in day-to-day clinical practice guiding personalized therapy. Newer molecules that can silence cancer driving genes and augment immune response are showing significant clinical progress. These technological innovations are primarily happening in developed nations, which gradually percolates down to the developing nations. However, it remains within the reach of a privileged minority. 
            p.text-justify The overarching theme of the conference is to discuss various technologic innovations and how to indigenize and adapt for the local needs and spur new cost-effective innovations which can provide equitable access to quality cancer care. 
            h5.text-center November 9 to 10 
            h5.text-center Cancer Innovation Hack-a-thon
            p.text-justify Inviting participation of clinicians, scientists, engineers, entrepreneurs and industry experts to create frugal innovations of India specific cancer problems. The hack-a-thon covers a spectrum of issues including mechanism of mass communication, professional education, point-of-care diagnostics, big-data analytical to improve cancer care delivery process and novel methods of identifying new targets and silencing the targets. A list of clinical problems will be provided to identify solution by a multi-disciplinary team. This medical technology and process innovations, we envisage, will transform cancer diagnosis and treatment to eliminate the existing cancer care disparity.
            h5.text-center November 8 Pre-conference workshop: 
            p.text-justify Creation of digital platform for public education, training of primary health providers and patient surveillance
            p.text-justify Digital technology and social media could be harnessed for effective communication for the public, professionals and tracking patients to improve compliance to treatment. In addition, novel technology can connect expertise available is major cancer centers to the point-of-care in the community, to improve effectiveness and efficiency of cancer care. The preconference workshop will have three sessions-
            ol.text-justify
              li Digital platform for primary health care training: Training to have a society wide impact should increase the knowledge level of entire professional group, not an individual. Moreover, for a sustained effect, the learning should be made a continuous process. The traditional method of learning led by a tutor is good for an individual, continuous collective peer-to-peer learning is required to improve the overall knowledge level of a professional body. This is achievable with the use of digital technology and social media. 
              li Comprehensive digital platform for patient education and tracking: Traditional method of centralized care is inefficient and not scalable. This is one of the primary reasons for lack of compliance to treatment and increasing out of packet expenses. Digital technology has the power to take experts’ knowledge to the patient’s home- the point-of-care, where it can really make a difference and lower the cost of care and improve compliance to treatment.
              li Integration of primary and tertiary cancer care:  One of the major thrusts of the Government of Kerala’s 2030 vision of cancer control is to decentralize the cancer care. This requires integration of primary and tertiary cancer care. Kerala government has taken a major step in providing palliative-intent chemotherapy in the district and taluk hospitals. Many other components of cancer care can be decentralized, which can diffuse the existing clinical burden of apex cancer centers. The apex cancer centers then will have the opportunity to focus on the primary tasks expected of such centers- offering treatment for complex and advanced cancers. Tele-medicine and m-Health technologies has the power of remote monitoring and to ensure delivery of quality of care in the decentralized model.

            h5.text-center November 9
            h5.text-center Session 1: Introduction
            p.text-justify Introductory session will address the current issues in cancer care and potential solutions through technological innovation. Six talks by leaders in their respective fields will set the stage for further discussions. 
            h5.text-center Session 2: Technology to transform cancer care outcome
            p.text-justify The key issues in cancer care of the country are advanced stage at diagnosis, access to care and appropriate use of novel interventions. This panel will address how technological innovations can solve these problems, at the same time make it cost-effective. These innovations has to be cocreated by clinicians and technologists within the legal and ethical framework of the nation. 
            h5.text-center Session 3: Creating effective link between clinicians and startups- challenges and opportunities
            p.text-justify The major failure of science is in its lack of efficiency in applying the basic science development into clinical practice. Though many startups are emerging throughout the world to expedite the process, there appears to be a chasm between technology and clinical practice. The panel will address the issue of this compartmentalization and how to create effective and seamless partnership. 
            h5.text-center Session 4: Veranda Talk between a successful entrepreneur and a startup mentor
            p.text-justify This session attempts to highlight the apparent divergent expectations of entrepreneur and venture capitalist. Understanding the minds of each other is essential for the success of startups.
            h5.text-center Session 5: Data aggregation, analysis using artificial intelligence and machine learning to improve clinical outcome
            p.text-justify Artificial intelligence is changing the way we live and is expected to transform clinical medicine. One of the early adopters of AI/ML is the field of oncology. Unlike other biotechnology revolutions, which require major investment, data-driven innovation depends only on digital bits and computer processing power; a real example of frugal innovation. The biotechnology innovation in the near future will depend on the data-driven digital innovations. India with its huge computing and mathematical expertise has the potential to be driver of this digital transformation. The payback would be enormous, especially in lowering the cost of discovery and clinical application.
            h5.text-center Session 6: Vaccine and cell-based therapy
            p.text-justify The past decade saw the sudden spurt of interest in cancer immunology by finding mechanism to block immune suppression observed in cancers. It however requires a pharmaceutical intervention. This is the tip of the iceberg. Manipulating our own immune cells to strengthen and overpower cancer cells is emerging as a treatment modality. Developing an indigenous method to create engineered immune cells is within the capabilities of Indian science. The panel will discuss on developing a concerted effort to move this field forward.
            h5.text-center November 10
            h5.text-center Session 7-9: Strategies to improve outcome of cancers of Breast, Cervical and Oral cavity
            p.text-justify These three cancers are the major cause of cancer related mortality of the country. Effective strategies to improve outcome by early detection and process optimization will be discussed. 
            h5.text-center Session 10: Point-of-care diagnostics
            p.text-justify This session will address a critical issue in cancer care of the country, which is advanced stage of diagnosis. Point-of-care diagnostics if developed appropriately has the potential to take the cancer diagnostic expertise to where it matters- the community.
            h5.text-center Session 11: Digital Pathology
            p.text-justify Pathology is the cornerstone of oncology practice. However expert pathology service is an unmet need of many oncologists working outside major cancer centers. Digital pathology has the potential to offer expert pathology service to the patients in the community. It can even improve the efficiency of experts. Bringing in image analysis and artificial intelligence has the capability of identifying molecular features of that are hitherto unknown to the oncology community.
            h5.text-center Session 12: Cancer Imaging
            p.text-justify One area where the digital revolution has improved the efficiency of clinical care is in the analysis of radiologic images. Teleradiology is now a reality. However, image analysis and artificial intelligence has the potential to given even better dividend. It has the potential to obtain hidden information from each of the pixels obtained in imaging studies. In addition, molecular imaging has the potential to decipher the cancer biology similar to that obtained at the tissue level, without the need for biopsy.

  
    include parts/mobile-footer.pug
        

  script(src="./js/index.js")